.containCards {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}

.HorizontalCard {
  margin: 10px;
  border: 1px solid black;
  border-radius: 6px;
  height: 30%;
  width: 97%;
  display: flex;
  align-items:center;
}

.linkDone {
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
  margin-left: 5px;
}

.imageDone {
  height: 60%;
}

.text {
  text-decoration: none;
  color: black;
  text-align: end;
  width: 80%;
  margin: 3px 3px;
}

.containText {
  margin-right: 5px;
  width: 70%;
  height: 80%;
}

.copyButton {
  display: flex;
  justify-content: flex-end;
}

.buttonAndCopied {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-left: 5px;
}

.copiedText {
  margin: 0 50px;
  justify-content: flex-start;
}

.headerDone {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.ContainerHeaderP {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.headerPerfil {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.HeaderName {
  width: 60%;
}
